*,
*::before,
*::after {
    box-sizing: border-box
}

html,
body,
main {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f9fbfd;
}

main {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
}

header {
    text-align: center;
    padding: 5px;
    padding-top: 0px;
    color: black;
    font-family: 'Anton';
}

#card {
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: black;
    font-size: 18px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 25px;
    max-width: 1000px;
    font-family: "Combo";
};


.card-body {
    min-height: 100px;
}

.card-footer {
    text-align: center;
}

.card-footer::before {
    content: " ";
    display: block;
    width: 100%;
    background: #e7e9eb;
    height: px;
}

.card-footer::after {
    content: " ";
    display: block;
    clear: both;
}


.passwordControls.first::before{
    position: absolute;
    width: 40px;
    height: 40px;
    border-top: 2px solid #cf1b1b;
    border-left: 2px solid #cf1b1b; 
    top: 0%;
    left: 50%;
    margin-left: -25px;
    margin-top: -20px;
    content: '';
    background: #E21C1C;
    transform: rotate(45deg);
}

.passwordControls.middle::before {
    position: absolute;
    width: 40px;
    height: 40px;
    border-top: 2px solid #D29B47;
    border-left: 2px solid #D29B47;
    top: 0%;
    left: 50%;
    margin-left: -25px;
    margin-top: -20px;
    content: '';
    background: #f0ad4e;
    transform: rotate(45deg);
}

.passwordControls.end::before {
    position: absolute;
    width: 40px;
    height: 40px;
    border-top: 2px solid #3DA13D;
    border-left: 2px solid #3DA13D;
    top: 0%;
    left: 50%;
    margin-left: -25px;
    margin-top: -20px;
    content: '';
    background: #5cb85c;
    transform: rotate(45deg);
}

.passwordControls {
    display: flex;
    position: relative;
    justify-content: space-between;
    font-family: 'Combo';
    background-color: #E21C1C;
    border: 2px solid #cf1b1b;
    padding: 30px;
    border-radius: 6px;
}


.btn {
    border: 2px solid white;
    background-color: white;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
    color: black;
    display: inline-block;
    margin: 0px 0px 16px 20px;
    padding: 14px 14px;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    background-color: #5bc0de;
}

#buttonDiv {
    display: flex;
    justify-content: right;
    margin: 15px;
    margin-bottom: 65px;
    
}

button[disabled] {
    cursor: default;
    background: #c0c7cf;
}

.float-right {
    float: right;
}

.passwordcontainer {
    display: flex;
    font-family: 'Amatic';
    justify-content: space-around;
    border-bottom: 1px solid black;
}



#password {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: black;
    border: none;
    display: block;
    outline: none;
    width: 100%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.2rem;
    text-align: left;
    margin-top: 10px;
    border-radius: 0px;
    resize: none;
    overflow: hidden;
    width: 80%;   
}

#refreshBtn {
    text-align: center;
    text-decoration: none;
    background: none;
    border: none;
}